.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.features ul {
  list-style: none;
}

.features li {
  margin-top: 0.5rem;
}

.features li:not(:last-child):after {
  content: "–";
  display: block;
}